* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: #888;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

body {
    overflow-x: hidden;
}

.content-wrapper {
    padding: 50px 150px 50px 50px;
}

.wrapper {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: row;
}

.header {
    width: 100%;
}

.header__text {
    width: 100%;
    font-family: 'Nunito', sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: calc(26px + .5vw);
    line-height: 49px;
    text-transform: uppercase;
    color: #5534A5;
}

.main {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.main__welcome {
    width: 100%;
    min-height: calc(100vh - 150px);
    padding: 50px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 50px;
}

.main__headline {
    font-family: 'Nunito', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: calc((26px + .5vw) * 2 - 2px);
    line-height: 102px;
    color: #4B7BE5;
    z-index: 1;
}

.main__changer {
    text-decoration: underline 3px;
    color: #5534A5;
}

.main__wave {
    height: 75px;
    width: 75px;
    display: inline-block;
    background: url("./images/universal/main/hand.png") no-repeat center;
    background-size: contain;
}

.main__social-medias {
    display: flex;
    flex-direction: row;
    margin-top: 50px;
    z-index: 1;
}

.main__link {
    height: calc((31px + .5vw) * 2);
    width: calc((31px + .5vw) * 2);
    border-radius: 15px;
    background: #5534A5;
    margin-right: 50px;
    position: relative;
    transition: margin-top 0.3s;
}

.main__link:hover {
    margin-top: -10px;
}

.main__link1 {
    background: url("./images/day/main/instagram.svg") no-repeat center;
    background-size: cover;
}
.main__link2 {
    background: url("./images/day/main/telegram.svg") no-repeat center;
    background-size: cover;
}
.main__link3 {
    background: url("./images/day/main/github.svg") no-repeat center;
    background-size: cover;
}

.main__link:last-child {
    margin-right: 0;
}

.main__me {
    width: 50vw;
    height: calc(100vh - 150px);
    background: url("./images/day/main/figure.svg") no-repeat 100% center;
    -webkit-background-size: contain;
    background-size: contain;
    position: absolute;
    right: 150px;
    z-index: 0;
}

.main__about-me {
    min-height: 100vh;
    width: 100vw;
    background: #A85CF9;
    position: relative;
    right: 50px;
    display: flex;
    flex-shrink: 1;
    flex-grow: 0;
    flex-direction: column;
    align-items: center;
    padding: 50px 150px 50px 50px;
    z-index: 0;
}

.main__headline_2 {
    font-family: 'Nunito', sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: calc(32px + .5vw);
    line-height: 65px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
}

.main__text {
    width: 100%;
    max-width: 700px;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: calc(7px + .5vw);
    line-height: 150%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    text-indent: 20px;
    color: #FFFFFF
}

.main__text::before {
    content: '';
    display: block;
    height: 4px;
    width: 200px;
    background: #ffffff;
    margin-top: calc(50px + 2vh);
    margin-bottom: calc(50px + 2vh);
    border-radius: 4px;
}

.main__text::after {
    content: '';
    display: block;
    height: 4px;
    width: 200px;
    background: #ffffff;
    margin-top: calc(50px + 2vh);
    margin-bottom: calc(50px + 2vh);
    border-radius: 4px;
}

.main__iKnow {
    width: calc(100vw - 200px);
    max-width: 1132px;
    z-index: 1;
    position: relative;
    left: -50px;
    top: -150px;
    padding: 50px;
    background: #FFFFFF;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
    align-self: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: -100px;
}

.main__iKnow-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 60px;
    margin-top: 50px;
}

.main__iKnow-item {
    height: 150px;
    width: 150px;
    border-radius: 50%;
    background: #5534A5;
    transition: height 0.3s, width 0.3s;
}

.main__iKnow-item:hover {
    height: 160px;
    width: 160px;
}

.main__headline_2-purple {
    color: #5534A5;
    text-align: center;
}

/*menu buttons style */

.menu {
    height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
    padding: 50px 50px 50px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: 100;
}

.menu__group {
    display: flex;
    flex-direction: column;
}

.menu__btn {
    height: 40px;
    width: 40px;
    border: none;
    outline: none;
    background: transparent;
    transition: margin-left .3s;
    filter: drop-shadow(0 0 2px rgba(255, 255, 255, 0.25));
}

.menu__btn0 {
    position: absolute;
    top: 50px;
    right: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.menu__btn:hover {
    margin-left: -5px;
}

.menu__dash {
    width: 100%;
    height: 3px;
    border-radius: 3px;
    display: block;
    background: #4B7BE5;
}

.menu__btn1 {
    background: url("./images/day/menu/home.svg") no-repeat center;
    background-size: contain;
}

.menu__btn2 {
    background: url("./images/day/menu/portfolio.svg") no-repeat center;
    background-size: contain;
    margin: 8vh 0;
}

.menu__btn3 {
    background: url("./images/day/menu/contact.svg") no-repeat center;
    background-size: contain;
}

.menu__btn1.menu__btn_active {
    background: url("./images/day/menu/home-active.svg") no-repeat center;
    background-size: contain;
}

.menu__btn2.menu__btn_active {
    background: url("./images/day/menu/portfolio.svg") no-repeat center;
    background-size: contain;
    margin: 8vh 0;
}

.menu__btn3.menu__btn_active {
    background: url("./images/day/menu/contact.svg") no-repeat center;
    background-size: contain;
}

/*footer styles*/

.footer {
    height: 550px;
    width: 100vw;
    background: #5534A5;
    padding: 50px 150px 50px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer__left {
    height: 100%;
}

.footer__nav {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.footer__nav-item {
    text-align: left;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: calc(26px + .5vw);
    line-height: 44px;
    display: flex;
    align-items: center;
    color: #DDDDDD;
    background: transparent;
    border: none;
    position: relative;
    transition: letter-spacing 0.3s;
}

.footer__nav-item:hover {
    letter-spacing: 3px;
}

.footer__copy {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: calc(16px + .5vw);
    line-height: 44px;
    display: flex;
    align-items: center;
    color: #DDDDDD;
    align-self: flex-end;
}

.footer__nav-item_active {
    font-weight: 900;
    color: #ffffff;
}
