* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: #888;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.page {
    max-width: 100vw;
    position: relative;
    transition: right 0.3s;
}

body {
    overflow-x: hidden;
}

.content-wrapper {
    max-width: 100vw;
    padding: 50px 150px 50px 50px;
    transition: 0.6s;
    position: relative;
}

.wrapper {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: row;
}

.wrapper_night {
    background: #261C2C;
}

.header {
    width: 100%;
}

.wrapper_night .header__text {
    color: #ffffff;
}

.header__text {
    width: 100%;
    font-family: 'Nunito', sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: calc(26px + .5vw);
    line-height: 49px;
    text-transform: uppercase;
    color: #5534A5;
}


/*main styles */

.main,
.projects,
.contacts {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.main__welcome {
    width: 100%;
    min-height: calc(100vh - 150px);
    padding: 50px 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;
}

.wrapper_night .main__headline {
    color: #5C527F;
}

.main__headline {
    font-family: 'Nunito', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: calc((26px + .5vw) * 2 - 2px);
    line-height: 102px;
    color: #4B7BE5;
    z-index: 1;
}

.wrapper_night .main__changer {
    color: #ffffff;
}

.main__changer {
    text-decoration: underline 3px;
    color: #5534A5;
}

.wrapper_night .typed-cursor {
    color: #FFFFFF;
}

.typed-cursor {
    color: #5534A5;
}

.main__txt {
    width: 50%;
}

.main__wave {
    height: 75px;
    width: 75px;
    display: inline-block;
    background: url("./images/universal/main/hand.png") no-repeat center;
    background-size: contain;
}

.main__social-medias {
    display: flex;
    flex-direction: row;
    margin-top: 50px;
    z-index: 1;
}

.main__link {
    height: calc((31px + .5vw) * 2);
    width: calc((31px + .5vw) * 2);
    border-radius: 15px;
    background: #5534A5;
    margin-right: 50px;
    position: relative;
    transition: margin-top 0.3s, filter 0.4s, box-shadow 0.4s;
}

.main__link:hover {
    margin-top: -10px;
    box-shadow: 0 0 17px 3px rgba(85, 52, 165, 0.5);
}

.wrapper_night .main__link:hover {
    filter: brightness(5);
    box-shadow: 0 0 20px 3px rgba(255, 255, 255, 0.3);
}

.wrapper_night .main__link1 {
    background: url("./images/night/main/instagram.svg") no-repeat center;
}

.main__link1 {
    background: url("./images/day/main/instagram.svg") no-repeat center;
    background-size: cover;
}

.wrapper_night .main__link2 {
    background: url("./images/night/main/telegram.svg") no-repeat center;
}

.main__link2 {
    background: url("./images/day/main/telegram.svg") no-repeat center;
    background-size: cover;
}

.wrapper_night .main__link3 {
    background: url("./images/night/main/github.svg") no-repeat center;
}

.main__link3 {
    background: url("./images/day/main/github.svg") no-repeat center;
    background-size: cover;
}

.main__link:last-child {
    margin-right: 0;
}

.wrapper_night .main__me {
    background: url("./images/night/main/figure.svg") no-repeat 100% center;
    -webkit-background-size: contain;
    background-size: contain;
}

.main__me {
    width: 50%;
    height: calc(100vh - 200px);
    background: url("./images/day/main/figure.svg") no-repeat 100% center;
    -webkit-background-size: contain;
    background-size: contain;
    transition: 0.5s;
}

.wrapper_night .main__about-me {
    background: #3E2C41;
}

.main__about-me {
    height: 100vh;
    max-height: 700px;
    width: 100vw;
    background: #A85CF9;
    position: relative;
    right: 50px;
    display: flex;
    flex-shrink: 1;
    flex-grow: 0;
    flex-direction: column;
    align-items: center;
    padding: 50px 150px 50px 50px;
    z-index: 0;
}

.main__headline_2,
.projects__headline_2,
.contacts__headline_2 {
    font-family: 'Nunito', sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: calc(32px + .5vw);
    line-height: 65px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
}

.main__text {
    width: 100%;
    max-width: 700px;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: calc(7px + .5vw);
    line-height: 150%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    text-indent: 20px;
    color: #FFFFFF
}

.main__text::before {
    content: '';
    display: block;
    height: 4px;
    width: 200px;
    background: #ffffff;
    margin-top: calc(50px + 2vh);
    margin-bottom: calc(50px + 2vh);
    border-radius: 4px;
}

.main__text::after {
    content: '';
    display: block;
    height: 4px;
    width: 200px;
    background: #ffffff;
    margin-top: calc(50px + 2vh);
    margin-bottom: calc(50px + 2vh);
    border-radius: 4px;
}

.wrapper_night .main__iKnow {
    background: #261C2C;
}

.main__iKnow {
    width: calc(100vw - 200px);
    max-width: 1132px;
    z-index: 1;
    position: relative;
    top: -150px;
    padding: 50px;
    background: #FFFFFF;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
    align-self: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: -100px;
}

.main__iKnow-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 60px;
    margin-top: 50px;
}

.main__iKnow-item {
    height: 150px;
    width: 150px;
    border-radius: 50%;
    background: #5534A5;
    background-size: calc(100% - 20px);
    transition: height 0.3s, width 0.3s;
    cursor: pointer;
}

.main__iKnow-item:hover {
    height: 160px;
    width: 160px;
}

.main__headline_2-purple,
.projects__headline_2-purple {
    color: #5534A5;
    text-align: center;
}

.wrapper_night .main__headline_2-purple,
.wrapper_night .projects__headline_2-purple {
    color: #ffffff;
}


/*projects style*/

.projects {
    display: none;
}

.projects__headline_2-purple {
    display: flex;
    align-items: center;
    justify-content: center;
}

.projects__row {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 50px 0;
}

.wrapper_night .projects__counter {
    color: #ffffff;
}

.projects__counter {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: calc((26px + .5vw) * 2 - 8px);
    line-height: 78px;
    text-transform: uppercase;
    color: #5534A5;
    ;
}

.wrapper_night .projects__title {
    color: #5C527F;
}

.projects__title {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: calc(18px + .5vw);
    line-height: 39px;
    text-align: center;
    color: #A85CF9;
}

.projects__filter-group {
    width: min-content;
    margin-bottom: 50px;
}

.projects__filter-group * {
    transition: 0.3s;
}

.wrapper_night .projects__filter-btn {
    color: #ffffff;
    background: rgba(255, 255, 255, 0.01) url("./images/night/projects/filter.svg") no-repeat 10px center;
    background-size: 20px;
    box-shadow: 0 0 2px rgba(255, 255, 255, 0.25);
}

.projects__filter-btn {
    padding: 9px 260px 9px 35px;
    background: rgba(255, 255, 255, 0.01) url("./images/day/projects/filter.svg") no-repeat 10px center;
    background-size: 20px;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
    border: none;
    outline: none;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: calc(8px + .5vw);
    line-height: 24px;
    color: #5534A5;
    cursor: pointer;
    z-index: 2;
}

.projects__filter-group_disabled .projects__filter-open {
    display: none;
}

.projects__filter-group_enabled .projects__filter-btn {
    border-radius: 15px 15px 0 0;
}

.projects__filter-open {
    display: flex;
    flex-direction: column;
    opacity: 0;
    position: relative;
    top: -150px;
    z-index: 2;
}

.projects__filter-group_enabled .projects__filter-open {
    opacity: 1;
    top: 0;
}

.wrapper_night .projects__select-item {
    box-shadow: 0 0 2px rgba(255, 255, 255, 0.25);
    color: #ffffff;
}

.projects__select-item {
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    padding: 15px;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.25);
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: calc(8px + .5vw);
    line-height: 24px;
    color: #555555;
}

.projects__select-item:last-child {
    border-radius: 0 0 15px 15px;
}

.wrapper_night .projects__radio {
    accent-color: #ffffff;
}

.projects__radio {
    margin-right: 15px;
    accent-color: #5534A5;
    height: 15px;
    width: 15px;
}

.projects__place {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px;
}

.projects__item {
    min-width: 500px;
    width: calc(50% - 25px);
    height: 465px;
    background: #000000;
    border-radius: 10px;
    display: block;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
    filter: grayscale(0.8);
    transition: 0.3s;
}

.projects__item_figma::before {
    content: '';
    height: 50px;
    width: 50px;
    background: url("./images/universal/portfolio/figma.svg") no-repeat 100% center;
    -webkit-background-size: contain;
    background-size: contain;
    display: block;
    position: relative;
    top: 20px;
    left: calc(100% - 70px);
    margin-right: 20px;
}

.projects__item_github::before {
    content: '';
    height: 50px;
    width: 50px;
    background: url("./images/universal/portfolio/github.svg") no-repeat 100% center;
    -webkit-background-size: contain;
    background-size: contain;
    display: block;
    position: relative;
    top: 20px;
    left: calc(100% - 70px);
    margin-right: 20px;
}

.wrapper_night .projects__view-btn {
    background: #5C527F;
}

.projects__view-btn {
    width: 200px;
    height: 200px;
    background: #5534A5;
    border-radius: 50%;
    font-family: 'Nunito', sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 48px;
    line-height: 65px;
    align-items: center;
    justify-content: center;
    color: #FFFFFF;
    cursor: pointer;
    opacity: 0;
    transition: 0.3s;
    position: relative;
    left: calc(50% - 100px);
    top: calc(50% - 150px);
    border: none;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.25);
}

.wrapper_night .projects__view-btn:hover {
    background: #ffffff;
    color: #5C527F;
}

.projects__view-btn:hover {
    background: #ffffff;
    color: #5534A5;
}


/*info styles */

.wrapper_night .info {
    background: #261C2C;
}

.info {
    width: 80%;
    height: 80vh;
    position: fixed;
    top: 10%;
    left: 10%;
    background: #FFFFFF;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
    display: flex
}

.info__image {
    width: 50%;
    height: 100%;
    background: #000000;
    border-radius: 15px 0 0 15px;
}

.info__content {
    width: 50%;
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
}

.wrapper_night .info__headline {
    color: #ffffff;
}

.info__headline {
    font-family: 'Nunito', sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: calc(26px + .5vw);
    line-height: 49px;
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    color: #5534A5;
}

.wrapper_night .info__text {
    color: #ffffff
}

.info__text {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: calc(6px + .5vw);
    line-height: 20px;
    color: #141414;
    margin-bottom: 30px;
}

.info__headline_3 {
    font-size: calc(16px + .5vw);
    line-height: calc(20px + .5vw);
}

.wrapper_night .info__list {
    color: #ffffff;
}

.info__list {
    display: flex;
    flex-wrap: wrap;
    list-style-position: inside;
    list-style-type: " 👉🏻 ";
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: calc(6px + .5vw);
    line-height: 20px;
    color: #141414;
    gap: 15px;
    margin-bottom: 15px;
}

.info__list-item {
    width: 30%;
}

.info__btn {
    width: 100%;
    padding: 15px;
    background: #A85CF9;
    border-radius: 7px;
    font-family: 'Nunito', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #FFFFFF;
    text-decoration: none;
    position: relative;
}

.wrapper_night .info__btn,
.wrapper_night .info__btn_open {
    background: #ffffff;
    color: #261C2C;
}

.info__btn_open {
    background: #5534A5
}

.info__btn-place {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    gap: 30px;
}

.info__close {
    width: 40px;
    height: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.info__row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.info__dash {
    height: 3px;
    width: 100%;
    display: block;
    background: #888888;
    border-radius: 2px;
    position: relative;
}

.info__dash:first-child {
    transform: rotate(45deg);
    top: 5px;
}

.info__dash:last-child {
    transform: rotate(-45deg);
    bottom: -2px;
}

.info_figma .info__btn_view {
    display: none;
}

.info_github .info__image::after {
    content: '';
    height: 50px;
    width: 50px;
    background: url("./images/universal/portfolio/github.svg") no-repeat 100% center;
    -webkit-background-size: contain;
    background-size: contain;
    display: block;
    position: relative;
    top: 20px;
    left: calc(100% - 70px);
    margin-right: 20px;
}

.info_figma .info__image::after {
    content: '';
    height: 50px;
    width: 50px;
    background: url("./images/universal/portfolio/figma.svg") no-repeat 100% center;
    -webkit-background-size: contain;
    background-size: contain;
    display: block;
    position: relative;
    top: 20px;
    left: calc(100% - 70px);
    margin-right: 20px;
}

.contacts {
    display: none;
}

.wrapper_night .contacts__headline_2 {
    color: #ffffff;
}

.contacts__headline_2 {
    width: 100%;
    display: flex;
    justify-content: center;
    color: #5534A5;
    margin-bottom: 50px;
}

.contacts__column {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 50px;
}

.contacts__row {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.wrapper_night .contacts__item {
    background-color: #3E2C41;
}

.contacts__item {
    width: 40%;
    background: #5534A5 url("./images/universal/contact/mail.svg") no-repeat 20px 20px;
    background-size: 100px;
    border-radius: 15px;
    padding: 60px 60px 30px 70px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 25px;
    text-decoration: none;
}

.contacts__row:nth-child(1) .contacts__item:nth-child(2) {
    background: #5534A5 url("./images/universal/contact/telegram.svg") no-repeat 20px 20px;
}

.contacts__row:nth-child(2) .contacts__item:nth-child(1) {
    background: #5534A5 url("./images/universal/contact/linkedin.svg") no-repeat 20px 20px;
}

.contacts__row:nth-child(2) .contacts__item:nth-child(2) {
    background: #5534A5 url("./images/universal/contact/phone.svg") no-repeat 20px 20px;
}

.contacts__row:nth-child(3) .contacts__item:nth-child(1) {
    background: #5534A5 url("./images/universal/contact/instagram.svg") no-repeat 20px 20px;
}

.wrapper_night .contacts__row:nth-child(1) .contacts__item:nth-child(2) {
    background: #3E2C41 url("./images/universal/contact/telegram.svg") no-repeat 20px 20px;
}

.wrapper_night .contacts__row:nth-child(2) .contacts__item:nth-child(1) {
    background: #3E2C41 url("./images/universal/contact/linkedin.svg") no-repeat 20px 20px;
}

.wrapper_night .contacts__row:nth-child(2) .contacts__item:nth-child(2) {
    background: #3E2C41 url("./images/universal/contact/phone.svg") no-repeat 20px 20px;
}

.wrapper_night .contacts__row:nth-child(3) .contacts__item:nth-child(1) {
    background: #3E2C41 url("./images/universal/contact/instagram.svg") no-repeat 20px 20px;
}

.contacts__name {
    font-family: 'Nunito', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: calc(22px + .5vw);
    line-height: 39px;
    display: flex;
    align-items: center;
    color: #FFFFFF;
}

.contacts__data {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: calc(10px + .5vw);
    line-height: 24px;
    display: flex;
    align-items: center;
    color: rgba(255, 255, 255, 0.5);
}


/*menu buttons style */

.menu {
    height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
    padding: 50px 50px 50px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: 100;
}

.menu__group {
    display: flex;
    flex-direction: column;
}

.wrapper_night .menu__btn {
    filter: none;
}

.wrapper_night .menu__btn_active {
    filter: drop-shadow(0 0 2px rgba(255, 255, 255, 0.25));
}

.menu__btn {
    height: 40px;
    width: 40px;
    border: none;
    outline: none;
    background: transparent;
    transition: margin-left .3s;
    filter: drop-shadow(0 0 2px rgba(255, 255, 255, 0.25));
    cursor: pointer;
}

.menu__btn0 {
    position: absolute;
    top: 50px;
    right: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.menu__btn:hover {
    margin-left: -5px;
}

.wrapper_night .menu__dash {
    background: #5C527F;
}

.menu__dash {
    width: 100%;
    height: 3px;
    border-radius: 3px;
    display: block;
    background: #4B7BE5;
}

.wrapper_night .menu__btn1 {
    background: url("./images/night/menu/home.svg") no-repeat center;
    background-size: contain;
}

.menu__btn1 {
    background: url("./images/day/menu/home.svg") no-repeat center;
    background-size: contain;
}

.wrapper_night .menu__btn2 {
    background: url("./images/night/menu/portfolio.svg") no-repeat center;
    background-size: contain;
}

.menu__btn2 {
    background: url("./images/day/menu/portfolio.svg") no-repeat center;
    background-size: contain;
    margin: 8vh 0;
}

.wrapper_night .menu__btn3 {
    background: url("./images/night/menu/contact.svg") no-repeat center;
    background-size: contain;
}

.menu__btn3 {
    background: url("./images/day/menu/contact.svg") no-repeat center;
    background-size: contain;
}

.wrapper_night .menu__btn1.menu__btn_active {
    background: url("./images/night/menu/home-active.svg") no-repeat center;
    background-size: contain;
}

.menu__btn1.menu__btn_active {
    background: url("./images/day/menu/home-active.svg") no-repeat center;
    background-size: contain;
}

.wrapper_night .menu__btn2.menu__btn_active {
    background: url("./images/night/menu/portfolio-active.svg") no-repeat center;
    background-size: contain;
}

.menu__btn2.menu__btn_active {
    background: url("./images/day/menu/portfolio-active.svg") no-repeat center;
    background-size: contain;
    margin: 8vh 0;
}

.wrapper_night .menu__btn3.menu__btn_active {
    background: url("./images/night/menu/contact-active.svg") no-repeat center;
    background-size: contain;
}

.menu__btn3.menu__btn_active {
    background: url("./images/day/menu/contact-active.svg") no-repeat center;
    background-size: contain;
}


/*navigation styles */

.wrapper_night .nav {
    background: rgba(38, 28, 44, 0.5);
}

.nav {
    width: 100vw;
    position: fixed;
    top: 0;
    left: 100vw;
    height: 100vh;
    background: rgba(85, 52, 165, 0.5);
    backdrop-filter: blur(49px);
    z-index: 200;
    padding: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    transition: 0.6s;
}

.nav__item {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: calc((26px + .5vw) * 2);
    line-height: 78px;
    display: flex;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    cursor: pointer;
    transition: letter-spacing 0.3s, color 0.3s;
}

.nav__item:hover {
    letter-spacing: 10px;
    color: #DDDDDD;
}

.nav__item:hover::before {
    content: '';
    width: 50px;
    height: 4px;
    border-radius: 5px;
    background: #ffffff;
    margin-right: 100px;
    opacity: 1;
}

.nav__item:hover::after {
    content: '';
    width: 50px;
    height: 4px;
    border-radius: 5px;
    background: #ffffff;
    margin-left: 100px;
    opacity: 1;
}

.nav__item::before {
    content: '';
    transition: 0.3s;
    opacity: 0;
}

.nav__item::after {
    content: '';
    transition: 0.3s;
    opacity: 0;
}

.nav__tumbler {
    height: 50px;
    width: 100px;
    padding: 5px;
    background: #F4F4F4;
    border-radius: 25px;
    cursor: pointer;
}

.wrapper_night .nav__tumbler-point {
    background: #3E2C41 url("./images/night/menu/switcher.svg") no-repeat center;
    background-size: cover;
    left: 50px;
}

.nav__tumbler-point {
    height: 40px;
    width: 40px;
    background: #A85CF9 url("./images/day/menu/switcher.svg") no-repeat center;
    background-size: 30px;
    border-radius: 50%;
    position: relative;
    left: 0;
    transition: 0.3s;
}


/*footer styles*/

.wrapper_night .footer {
    background: transparent;
}

.footer {
    height: 550px;
    width: 100vw;
    background: #5534A5;
    padding: 50px 150px 50px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 0;
}

.footer__left {
    height: 100%;
}

.footer__nav {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.footer__nav-item {
    text-align: left;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: calc(26px + .5vw);
    line-height: 44px;
    display: flex;
    align-items: center;
    color: #DDDDDD;
    background: transparent;
    border: none;
    position: relative;
    transition: letter-spacing 0.3s;
}

.footer__nav-item:hover {
    letter-spacing: 3px;
}

.footer__copy {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: calc(16px + .5vw);
    line-height: 44px;
    display: flex;
    align-items: center;
    color: #DDDDDD;
    align-self: flex-end;
}

.footer__nav-item_active {
    font-weight: 900;
    color: #ffffff;
}

@media screen and (max-width: 1370px) {
    .main__me {
        width: 40%;
    }
    .main__txt {
        width: 60%;
    }
}

@media screen and (max-width: 1096px) {
    .main__me {
        display: none;
    }
    .main__txt {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    .main__headline {
        text-align: left;
    }
    .main__iKnow-item {
        width: 120px;
        height: 120px;
    }
    .main__iKnow-item:hover {
        width: 130px;
        height: 130px;
    }
    .projects__item {
        width: 80%;
    }
    .info {
        z-index: 200;
    }
    .info__text {
        margin-bottom: 15px;
        font-size: 14px;
        line-height: 16px;
    }
    .info__close {
        height: 20px;
        width: 20px;
        flex-shrink: 1;
    }
    .info__content {
        padding: 15px;
    }
    .info__headline {
        font-size: 22px;
        line-height: 24px;
    }
    .info__headline_3 {
        font-size: 18px;
        line-height: 20px;
    }
    .info__btn {
        font-size: 16px;
        line-height: 18px;
    }
    .info__list-item {
        font-size: 14px;
        line-height: 16px;
    }
}

@media screen and (max-width: 880px) {
    .info {
        height: 90%;
        flex-direction: column;
        overflow: auto;
        top: 5%;
    }
    .info__image {
        width: 100%;
        height: 300px;
        flex-shrink: 0;
        border-radius: 10px 10px 0 0;
    }
    .info__content {
        height: 100%;
        min-height: 0;
        width: 100%;
        justify-content: space-between;
    }
    .info__list {
        justify-content: space-around;
    }
}

@media screen and (max-width: 714px) {
    ::-webkit-scrollbar {
        width: 4px;
    }
    .wrapper_night .menu {
        background: #3E2C41;
    }
    .menu {
        height: 10vh;
        width: 100%;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        top: auto;
        right: auto;
        left: 0;
        bottom: 0;
        padding: 0;
        background: #ffffff;
    }
    .menu__group {
        width: 100%;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
    }
    .menu__btn:hover {
        margin-right: 0;
        margin-top: -10px;
    }
    .menu__btn0 {
        display: none;
    }
    .menu__btn2 {
        margin: 0;
    }
    .menu__btn2.menu__btn_active {
        margin: 0;
    }
    .content-wrapper {
        max-width: 100vw;
        padding: 30px;
    }
    .main__headline {
        font-size: calc(42px + .5vw);
        line-height: calc(48px + .5vw);
    }
    .main__wave {
        height: calc(42px + .5vw);
        width: calc(42px + .5vw);
    }
    .main__link {
        height: 50px;
        width: 50px;
        margin-right: 25px;
    }
    .main__about-me {
        padding: 30px;
        right: 35px;
    }
    .main__text {
        font-size: 14px;
    }
    .main__iKnow {
        width: 90%;
        padding: 30px;
    }
    .main__iKnow-container {
        gap: 20px;
    }
    .main__text::before {
        content: '';
        display: block;
        height: 4px;
        width: 100px;
        margin-top: calc(50px + 2vh);
        margin-bottom: calc(50px + 2vh);
        border-radius: 4px;
    }
    .main__text::after {
        content: '';
        display: block;
        height: 4px;
        width: 100px;
        margin-top: calc(50px + 2vh);
        margin-bottom: calc(50px + 2vh);
        border-radius: 4px;
    }
    .projects__item {
        width: 95%;
        min-width: 0;
        height: 300px;
    }
    .contacts__column {
        gap: 30px;
    }
    .contacts__row {
        flex-direction: column;
        gap: 30px;
    }
    .contacts__item {
        width: 100%;
    }
    .footer {
        flex-direction: column;
        padding: 30px;
        margin-bottom: 10vh;
    }
    .footer__left {
        width: 100%;
    }
    .footer__copy {
        width: 100%;
    }
    .info__image {
        width: 100%;
        height: 300px;
    }
    .info {
        height: 600px;
    }
    .info__image {
        width: 100%;
        height: 150px;
        flex-shrink: 0;
    }
    .info__content {
        height: 600px;
        overflow: auto;
        width: 100%;
    }
    .info__list {
        justify-content: space-around;
    }
}

@media screen and (max-width: 435px) {
    .main__iKnow {
        width: 98%;
        padding: 15px;
    }
    .main__iKnow-container {
        gap: 15px;
        justify-content: space-around;
    }
    .main__iKnow-item {
        width: 100px;
        height: 100px;
    }
    .main__iKnow-item:hover {
        width: 110px;
        height: 110px;
    }
    .projects__item {
        width: 100%;
        min-width: 0;
        height: 200px;
    }
    .projects__headline_2 {
        justify-content: flex-start;
        text-align: left;
        font-size: 25px;
        line-height: 28px;
        margin-top: 15px;
    }
    .projects__view-btn {
        width: 100px;
        height: 100px;
        font-weight: 900;
        font-size: 20px;
        line-height: 25px;
        opacity: 0;
        transition: 0.3s;
        position: relative;
        left: calc(50% - 50px);
        top: 0;
        border: none;
    }
    .projects__row {
        width: 100%;
        flex-direction: row;
        gap: 30px;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: flex-start;
        margin-bottom: 30px;
    }
    .projects__text-group {
        width: calc(50% - 20px);
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
    }
    .projects__counter {
        font-size: 36px;
        line-height: 38px;
    }
    .projects__title {
        font-size: 16px;
        line-height: 18px;
        margin-top: 10px;
        text-align: left;
    }
    .projects__filter-group {
        width: 100%;
        margin-bottom: 30px;
    }
    .projects__filter-btn {
        width: 100%;
        min-width: 0;
        padding: 15px;
    }
    .info {
        border-radius: 10px;
    }
    .info__list-item {
        width: 100%;
    }
}

@media screen and (max-width: 300px) {
    .header__text {
        font-size: 20px;
    }
    .main__welcome {
        min-height: 50vh;
    }
    .main__headline {
        font-size: 28px;
        line-height: 35px;
    }
    .main__wave {
        height: 25px;
        width: 25px;
    }
    .menu__btn {
        height: 30px;
        width: 30px;
    }
    .main__link {
        width: 40px;
        height: 40px;
        border-radius: 10px;
        margin-right: 15px;
    }
    .main__headline_2 {
        font-size: 25px;
    }
    .main__text::before {
        content: '';
        display: block;
        height: 4px;
        width: 100px;
        margin-top: calc(30px + 2vh);
        margin-bottom: calc(30px + 2vh);
        border-radius: 4px;
    }
    .main__text::after {
        content: '';
        display: block;
        height: 4px;
        width: 100px;
        margin-top: calc(30px + 2vh);
        margin-bottom: calc(30px + 2vh);
        border-radius: 4px;
    }
    .contacts__headline_2 {
        font-size: 28px;
    }
    .contacts__item {
        padding: 30px 30px 30px 40px;
        background-size: 50px;
    }
    .contacts__row:nth-child(1) .contacts__item:nth-child(2) {
        background: #5534A5 url("./images/universal/contact/telegram.svg") no-repeat 20px 20px;
        background-size: 50px;
    }
    .contacts__row:nth-child(2) .contacts__item:nth-child(1) {
        background: #5534A5 url("./images/universal/contact/linkedin.svg") no-repeat 20px 20px;
        background-size: 50px;
    }
    .contacts__row:nth-child(2) .contacts__item:nth-child(2) {
        background: #5534A5 url("./images/universal/contact/phone.svg") no-repeat 20px 20px;
        background-size: 50px;
    }
    .contacts__row:nth-child(3) .contacts__item:nth-child(1) {
        background: #5534A5 url("./images/universal/contact/instagram.svg") no-repeat 20px 20px;
        background-size: 50px;
    }
    .wrapper_night .contacts__row:nth-child(1) .contacts__item:nth-child(2) {
        background: #3E2C41 url("./images/universal/contact/telegram.svg") no-repeat 20px 20px;
        background-size: 50px;
    }
    .wrapper_night .contacts__row:nth-child(2) .contacts__item:nth-child(1) {
        background: #3E2C41 url("./images/universal/contact/linkedin.svg") no-repeat 20px 20px;
        background-size: 50px;
    }
    .wrapper_night .contacts__row:nth-child(2) .contacts__item:nth-child(2) {
        background: #3E2C41 url("./images/universal/contact/phone.svg") no-repeat 20px 20px;
        background-size: 50px;
    }
    .wrapper_night .contacts__row:nth-child(3) .contacts__item:nth-child(1) {
        background: #3E2C41 url("./images/universal/contact/instagram.svg") no-repeat 20px 20px;
        background-size: 50px;
    }
    .contacts__name {
        font-size: 20px;
        line-height: 25px;
    }
    .contacts__data {
        font-size: 12px;
    }
}